<header class="site-header" role="banner">
  <div class="wrapper">

    <div id="logo">
      <img src="{{ site.baseurl }}/assets/images/logo.png" alt="The Jupiter Cat Logo" title="The Jupiter Cat Logo" />
      <h1>The Jupiter Cat</h1>
    </div>

    <div id="links">
      <div class="telegram">
        <a href="https://t.me/jupitercatcommunity" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.baseurl }}/assets/images/telegram-white-icon.svg" alt="Telegram" title="Telegram" />
        </a>
      </div>
      <div class="twitter">
        <a href="https://twitter.com/jupitercat_sol" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.baseurl }}/assets/images/x-social-media-white-icon.svg" alt="X" title="X" />
        </a>
      </div>
      <div class="dexscreener">
        <a href="https://dexscreener.com/solana/fcw6lpta9hg8a7qhzb9jsvw7al5yf9gua3myd5rsvmj9" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.baseurl }}/assets/images/dex.png" alt="Dexscreener" title="Dexscreener" />
        </a>
      </div>
    </div>

  </div>
</header>
