<section class="header">
  <header class="site-header" role="banner">
    <div class="wrapper">

      <div id="logo">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="The Jupiter Cat Logo" title="The Jupiter Cat Logo" />
        <h1>The Jupiter Cat</h1>
      </div>

      <div id="links">
        <div class="telegram">
          <a href="https://t.me/jupitercatcommunity" target="_blank" rel="noopener noreferrer">
            <img src="{{ site.baseurl }}/assets/images/telegram-white-icon.svg" alt="Telegram" title="Telegram" />
          </a>
        </div>
        <div class="twitter">
          <a href="https://twitter.com/JUPITERCATSOL" target="_blank" rel="noopener noreferrer">
            <img src="{{ site.baseurl }}/assets/images/x-social-media-white-icon.svg" alt="X" title="X" />
          </a>
        </div>
        <div class="dexscreener">
          <a href="https://dexscreener.com/solana/fcw6lpta9hg8a7qhzb9jsvw7al5yf9gua3myd5rsvmj9" target="_blank" rel="noopener noreferrer">
            <img src="{{ site.baseurl }}/assets/images/dex.png" alt="Dexscreener" title="Dexscreener" />
          </a>
        </div>
        <div class="dextools">
          <a href="https://www.dextools.io/app/en/solana/pair-explorer/Fcw6Lpta9HG8a7QHZb9jSVw7AL5YF9GuA3Myd5RSvmj9" target="_blank" rel="noopener noreferrer">
            <img src="{{ site.baseurl }}/assets/images/dextools.png" alt="Dextools" title="Dextools" />
          </a>
        </div>
      </div>

    </div>
  </header>

  <div class="header-content">
    <div class="first">
      <h2 class="intro-text">Beyond the Moon,<br /> Jupiter awaits</h2>
      <a href="https://jup.ag/swap/SOL-JUPCAT_4hqxNjEcyaPfyjQQCtc9JDWaGQ4M1nDScCMZ9TTwY4AX" target="_blank" rel="noopener noreferrer" class="buy">Buy $JUPCAT</a>
      <a onclick="copyCA('4hqxNjEcyaPfyjQQCtc9JDWaGQ4M1nDScCMZ9TTwY4AX')" class="ca">CA: 4hqxNjEcyaPfyjQQCtc9JDWaGQ4M1nDScCMZ9TTwY4AX (Click to copy)</a>
      <div class="sub-intro-text"><p>The <span class="gradient">First Jupiter Inspired Meme Coin on</span> Solana</p></div>
    </div>

    <div class="second">
      <img class="main-cat" src="assets/images/cat-main.jpg" />
    </div>
  </div>

  <div class="coingecko">
    <a href="https://www.coingecko.com/en/coins/the-jupiter-cat" target="_blank" rel="noopener noreferrer">
      <img src="{{ site.baseurl }}/assets/images/coingecko.png" alt="CoinGecko" title="The Jupiter Cat on CoinGecko" />
    </a>
  </div>
</section>
