<section class="header">
  <header class="site-header" role="banner">
    <div class="wrapper">

      <div id="logo">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="The Jupiter Cat Logo" title="The Jupiter Cat Logo" />
        <h1>The Jupiter Cat</h1>
      </div>

      <div id="links">
      </div>

    </div>
  </header>

  <div class="header-content">
    <div class="first">
      <h2 class="intro-text">Beyond the Moon,<br /> Jupiter awaits</h2>
    </div>

    <div class="second">
      <img class="main-cat" src="assets/images/cat-main.jpg" />
    </div>
  </div>
</section>
