body,
html {
    height: 100%;
    margin: 0;
}

body {
    color: white;
    font-family: 'Helvetica Bold', Arial, sans-serif;
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url('fonts/helvetica-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    background-image: url('images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 8rem;

    @media (max-width: 768px) {
        padding-bottom: 4rem;
    }

    .wrapper {
        max-width: unset
    }

    .site-header {
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: auto;
            padding: 0 2rem;
            margin-top: 1rem;

            @media (max-width: 768px) {
                padding: 0 1rem;
            }

            #logo {
                flex-grow: 0;
                display: flex;
                align-items: center;

                img {
                    margin-right: 1rem;
                    max-width: 65px;

                    @media (max-width: 768px) {
                        width: 50px;
                    }
                }

                h1 {
                    margin: 0;
                    font-family: "Helvetica Bold", Arial, sans-serif;

                    @media (max-width: 768px) {
                        font-size: 1em;
                    }
                }
            }

            #links {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
                gap: 10px;

                .twitter {
                    padding: 0 1rem;
                }

                img {
                    display: block;
                    height: 35px;

                    @media (max-width: 768px) {
                        height: 25px;
                    }
                }
            }
        }
    }

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 70%;
        margin: 5rem auto 0;

        @media (max-width: 768px) {
            margin: 3rem auto 0;
            padding: 0 1rem;
        }

        @media (max-width: 768px) {
            max-width: 85%;
        }

        .first {
            flex: 1;
            padding-right: 2rem;
            max-width: 50%;
        }

        .second {
            flex: 1;
            max-width: 50%;
        }

        .intro-text {
            font-size: 4rem;
            margin-bottom: 2rem;

            @media (max-width: 768px) {
                font-size: 2.5em;
            }
        }

        .buy {
            padding: 10px 20px;
            display: table;
            background-color: #c7f382;
            color: black;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            margin-bottom: 2rem;

            &:visited {
                color: black;
            }

            &:hover {
                background-color: darken(#c7f382, 10%);
            }
        }

        .sub-intro-text {
            font-size: 1.5em;
            background-color: rgba(0, 0, 0, 0.35);
            padding: 8px;
            border-radius: 8px;

            p {
                margin-bottom: 0;
            }
        }

        .main-cat {
            max-width: 100%;
            height: auto;
        }
    }

    @media (max-width: 768px) {
        .header-content {
            flex-direction: column;
            align-items: flex-start;

            .first,
            .second {
                max-width: 100%;
                margin-right: 0;
                margin-left: 0;
                padding-left: 0;
                padding-right: 0;
            }

            .first {
                margin-bottom: 2rem; // Add space between the .first and .second divs
            }

            .second {
                margin-top: 0; // Reset the top margin for .second div
            }
        }
    }
}

.site-header,
.site-footer {
    border: 0;
}

.page-content {
    padding: 0;

    .wrapper {
        max-width: unset;
        padding: 0;
    }

    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
        color: #1ab0c1;
        outline: none;
    }

    a:hover {
        color: white;
    }
}

.dark-bg {
    background-color: #0a1821;
    padding: 5rem 0;
    @media (max-width: 768px) {
        padding: 2rem 0;
    }

    .content {
        max-width: 60%;
        text-align: center;
        margin: 0 auto;

        @media (max-width: 768px) {
            max-width: 80%;
        }

        p {
            font-size: 1.2em;
            line-height: 1.8;

            @media (max-width: 768px) {
                font-size: 1em;
            }
        }
    }
}

.bottom {
    background-image: url('images/bg-bottom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 8rem;
    padding-top: 8rem;

    @media (max-width: 768px) {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    .content {
        text-align: center;

        p.gradient {
            font-size: 2em;
        }
    }
}

.green {
    color: #c7f382;
}

.gradient {
    background: linear-gradient(45deg, #02bada, #b8f163);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    border-radius: 5px;
    display: inline;
}

.break {
    word-break: break-all;
    overflow-wrap: anywhere;
}

.site-footer {
    padding: 0;
}