body,
html {
 height: 100%;
 margin: 0;
}

body {
    background-image: url('images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Helvetica Bold', Arial, sans-serif;

    .wrapper {
        max-width: unset
    }
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url('fonts/helvetica-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.site-header {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: auto;
        padding: 0 2rem;

        #logo {
            flex-grow: 0;
            display: flex;
            align-items: center;

            img {
                margin-right: 1rem;
            }

            h1 {
                margin: 0;
                font-family: "Helvetica Bold", Arial, sans-serif;
            }
        }

        #links {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            .twitter {
                padding: 0 1rem;
            }

            img {
                display: block;
                height: 35px;
            }
        }
    }
}

.site-header,
.site-footer {
    border: 0;
    padding: 1rem 0;
}

.page-content {
    padding: 5rem 0;

    .wrapper {
        max-width: 85%;
    }

    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;

        .first,
        .second {
            flex: 1;
        }

        .first {
            margin-right: 2rem;
            max-width: 60%;
        }

        .second {
            max-width: 40%;
        }

        .intro-text {
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        .buy {
            padding: 10px 20px;
            display: table;
            background-color: #c7f382;
            color: black;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            margin-bottom: 2rem;

            &:hover {
                background-color: darken(#c7f382, 10%);
            }
        }

        .sub-intro-text {
            font-size: 1.5em;
            background-color: rgba(0, 0, 0, 0.5);
            display: inline;
            padding: 8px;
            border-radius: 8px;

            .gradient {
                background: -webkit-linear-gradient(45deg, #02bada, #b8f163);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
                padding: 10px;
                border-radius: 5px;
                display: inline;
            }
        }

        .main-cat {
            max-width: 100%;
            height: auto;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;

            .buy {
                margin-right: 0;
                margin-bottom: 20px;
            }

            .main-cat {
                margin: 0;
            }

            .first,
            .second {
                max-width: 100%;
                margin-right: 0;
                margin-left: 0;
            }

            .second {
                margin-top: 3rem;
            }
        }
    }


    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
        color: #1ab0c1;
        outline: none;
    }

    a:hover {
        color: white;
    }
}

.break {
    word-break: break-all;
    overflow-wrap: anywhere;
}
