body {
    color: #fff;
}

.site-header {
    background-color: #121b23;
}

.page-content {
    background-color: #1c2936;

    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
        color: #f8eb4e;
        outline: none;
    }

    a:hover {
        color: #fff;
    }
}


.break {
    word-break: break-all;
    overflow-wrap: anywhere;
}

.site-footer {
    background-color: #121b23;
}
